# Database & Data Processing
pandas
pyarrow
psycopg2-binary
sqlalchemy
python-dotenv

# dbt Transformation Engine
dbt-postgres

# Machine Learning & Notebooks
scikit-learn
xgboost
imbalanced-learn
jupyter
seaborn
plotly

# Profiling
ydata-profiling

# Development
black
pytest
